@{
    ViewBag.Title = "添加员工";
}
<div class="center">
    <div class="map">当前位置：<a href="/user/center">首页</a><i class="iconfont icon-arrow-right"></i><a href="/manage/users">员工管理</a><i class="iconfont icon-arrow-right"></i>重置密码</div>
    <div id="create" class="from createuser">
        <div class="item">
            <div class="title">新密码</div>
            <div class="input"><input type="password" value="" placeholder="请输入密码" v-model="password" /></div>
        </div>
        <div class="item">
            <div class="title">确认密码</div>
            <div class="input"><input type="password" value="" placeholder="再输入一次密码" v-model="password2" /></div>
        </div>
        <div class="item">
            <button v-on:click="create">重置</button>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#create',
        data: {
            id:parseInt(@ViewContext.RouteData.Values["id"]),
            password: '',
            password2: ''
        },
        methods: {
            create: function () {
                var self = this;
                layer.load();
                $.post('/manage/ResetPasswordAction', self._data, function (res) {
                    layer.close();
                    if (parseInt(res.result)) {
                        layer.ok2(res.message, "/manage/users");
                    } else {
                        layer.warn(res.message);
                    }
                })
            }
        }
    })

</script>
