<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Resouces/css/index.css" rel="stylesheet" />
    <link href="//at.alicdn.com/t/font_503229_bqh9rdgw2ow.css" rel="stylesheet" />
    <script src="/Resouces/js/vue.min.js"></script>
    <script src="/Resouces/js/jquery.min1.8.2.js"></script>
    <script src="/Resouces/js/layer/layer.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
